<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Legumbres</title>
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <main class="page-content pt-2">

        <div class="form-group col-md-12">
                <a id="toggle-sidebar" class="btn btn-dark" href="#">
                    <span>Toggle Sidebar</span>
                </a>
                <!-- <a id="pin-sidebar" class="btn btn-dark" href="#">
                    <span>Pin Sidebar</span>
                </a> -->

        </div>
        
    
        

        <h2>estas son las listas de las legumbres</h2>
    </main>
    
</body>
</html>